// Variables
$font-primary: 'Shrikhand', cursive;
$background-light: #EAEAEA;
$color-bg: #f6f6f6;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-light: #fff;
$color-dark: #000;
$color-accent: #99E2D0;
$color-accent-dark: #278870;
$color-gray: whitesmoke;
$color-bg-footer: #353535;
$color-text: white;
$box-shadow-hover: 0 4px 10px 0 #afafaf;
$max-width-container: 1440px; 
$padding-horizontal: 10%;  
$padding-vertical: 30px;  
$font-size-title: 24px;  
$margin-bottom-title: 10px;  
$margin-left-title: 50px;
$column-gap: 130px;  
$container-width: 73%;  
$food-titel-padding-left: 190px;  
$restaurant-card-width: 450px;  
$logo-love-font-size: 30px;  
$position-left: 86%;  
$position-bottom: 12%;
$footer-height: 100px;  
$footer-font-size: 24px;  
$footer-padding-right: 100px;  
$footer-padding-left: 50px;  
$footer-gap: 30px; 


// Définir les variables
$color-light: #f0f0f0;  // Couleur de fond claire
$color-dark: #000;  // Couleur de texte sombre

// Reset CSS léger
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Supprimer les marges par défaut pour les éléments spécifiques
body, h1, h2, h3, h4, h5, h6, p, ul, ol, figure, blockquote, dl, dd {
  margin: 0;
}

// Supprimer les styles des listes
ul, ol {
  list-style: none;
}

// Supprimer les décorations des liens
a {
  text-decoration: none;
  color: inherit;
}

// Gérer les médias (images, vidéos, etc.)
img, picture, video, canvas, svg {
  max-width: 100%;
  height: auto;
  display: block;
}

// Configurer une typographie de base
html {
  font-family: sans-serif;
  font-size: 100%;  // Base de 16px
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  background-color: $color-light;
  color: $color-dark;
}

// Réinitialiser les styles des tableaux
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Réinitialiser les styles des éléments de formulaire
button, input, textarea, select {
  font: inherit;
}

// Supprimer les bordures et les styles des boutons et des champs sur mobiles
button, input {
  border: none;
  outline: none;
}


/***header***/


// Header
header {
  h1 {
    padding: 2%;
    text-align: center;
    font-family: $font-primary;
    font-style: italic;
  }
}

// Location Section
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 15px;
  padding-left: 70px;
  background: $background-light;

  input {
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 16px;
  }
}


// Frame Section
.frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  background-color: $color-gray;

  h2 {
    text-align: center;
    font-size: 24px;
    width: 90%;
  }

  p {
    text-align: center;
  }
}

// Button
button {
  background: linear-gradient(193.33deg, $color-primary -11.44%, $color-secondary 123.93%);
  border-radius: 25px;
  color: $color-light;
  text-align: center;
  height: 50px;
  width: 218px;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 30px;

  &:hover {
    opacity: 0.88;
    box-shadow: $box-shadow-hover;
    cursor: pointer;
  }
}

//fonctionnemment



.fonctionnement {
  margin-top: 20px;

  h3 {
    margin: 10px;
  }
}

.fonction {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.group {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
  border: solid;
  border-radius: 20px;
  height: 72px;
  background: $color-bg;
  border: none;
  margin: 0 20px;
}

.p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ellipse {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background: $color-primary;
  position: relative;
  right: 10px;
  color: white;
}

.fas {
  &:hover {
    cursor: pointer;
    color: $color-primary;
  }
}

//restaurant


.food-restaurant {
  background: $color-bg;
  height: 100%;
  margin-top: 30px;
  font-size: 18px;
  padding-left: 10px;
  margin-top: 50px;
}

.restaurant {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  
  h4 {
    height: 10px;
    font-size: 18px;
    padding-left: 10px;
  }
}

.food-titel {
  font-size: 24px;
  padding-top: 40px;
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background: $color-light;
  width: 95%;
  height: 270px;
  position: relative;
  border-radius: 20px;

  img {
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    width: 100%;
    height: 175px;
    margin: auto;
  }

  .new {
    text-align: center;
    width: 80px;
    height: 30px;
    border-radius: 2px;
    background-color: $color-accent;
    color: $color-accent-dark;
    font-weight: 500;
    position: absolute;
    top: 3%;
    left: 73%;
  }

  p {
    padding-left: 10px;
  }
}

.logo-love {
  i {
    font-size: 20px;
    -webkit-text-stroke: white 1px;
    position: absolute;
    left: 86%;
    bottom: 13%;
  }
}

.logo-love-sytle {
  font-size: 20px;
  -webkit-text-stroke: white 1px;
  position: absolute;
  left: 86%;
  bottom: 11%;
  opacity: 0;
  display: inline-block;
  background: linear-gradient(193.33deg, $color-primary -11.44%, $color-secondary 123.93%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 1s;
  
  &:hover {
    opacity: 1;
  }
}

//footer


footer {
  background: $color-bg-footer;
  width: 100%;

  h5 {
    font-family: $font-primary;
    font-weight: bold;
    font-style: italic;
    color: $color-text;
    margin: auto;
    padding-top: 10px;
    width: 90%;
    font-size: 18px;
  }

  ul {
    width: 90%;
    color: $color-text;
    margin: auto;
    font-size: 16px;

    a {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}


/* Para pantallas medianas (tabletas) */
@media (min-width: 768px) {
  .main-container {
    max-width: $max-width-container;
    width: 100%;
    margin: auto;
  }
/**fonctionnement**/
.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: $padding-vertical $padding-horizontal $padding-vertical $padding-horizontal;

  h3 {
    font-size: $font-size-title;
    margin: 0px 0px $margin-bottom-title $margin-left-title;
  }
}

.fonction {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.group {
  width: 25%;
}
// restuarant
.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: $column-gap;
  width: $container-width;
  margin: auto;
}

.food-titel {
  padding-left: $food-titel-padding-left;
}

.restaurant-card {
  width: $restaurant-card-width;
}

.logo-love-sytle i,
.logo-love i {
  font-size: $logo-love-font-size;
}

.logo-love i {
  -webkit-text-stroke: white 1px;
  position: absolute;
  left: $position-left;
  bottom: $position-bottom;
}
/***footer***/


footer {
  display: flex;
  flex-direction: row-reverse;
  height: $footer-height;

  h5 {
    width: auto;
    padding-right: $footer-padding-right;
    padding-left: $footer-padding-left;
    font-size: $footer-font-size;
  }

  ul {
    display: flex;
    justify-content: end;
    gap: $footer-gap;
  }
}
}